research_model_epoch1.pt
research_model_epoch2.pt
research_model_epoch3.pt
research_model_epoch4.pt
research_model_epoch5.pt
research_model_epoch6.pt
research_model_epoch7.pt
research_model_epoch8.pt
research_model_epoch9.pt
research_model_epoch10.pt
research_model_epoch11.pt
research_model_epoch12.pt
research_model_epoch13.pt
research_model_epoch14.pt